{% extends "wrap.html" %}

{% block body %}
<form method="POST" action="">
    <h1>Change Password</h1>
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <table>
        <tr>
            <td>{{ form.cur_password.label }}:</td>
            <td>{{ form.cur_password(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password.label }}:</td>
            <td>{{ form.new_password(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.confirm_password.label }}:</td>
            <td>{{ form.confirm_password(size=30) }}</td>
        </tr>
    </table>
    <div class="form-buttons">
        {{ form.submit_password() }}
    </div>
</form>
{% endblock %}
