{% extends "wrap.html" %}

{% block body %}
<div class="narrow">
    <form method="POST" action="">
        <h1>Log In</h1>
        {{ form.csrf_token }}
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <table>
            <tr>
                <td>{{ form.username.label }}:</td>
                <td>{{ form.username(size=20) }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}:</td>
                <td>{{ form.password(size=20) }}</td>
            </tr>
        </table>
        <div class="action-button">
            <button type="submit">Log In</button>
        </div>

        <p>Forgotten password? Other problems? email <a href="mailto:{{ config['SUPPORT_EMAIL'] }}">{{ config['SUPPORT_EMAIL'] }}</a> for assistance.</p>
    </form>
</div>
{% endblock %}
