{% extends "wrap.html" %}

{% block body %}
<form method="POST" action="">
    <h1>Edit Profile</h1>
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <table>
        <tr>
            <td>{{ form.fname.label }}:</td>
            <td>{{ form.fname(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.lname.label }}:</td>
            <td>{{ form.lname(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.email.label }}:</td>
            <td>{{ form.email(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.shell.label }}:</td>
            <td>{{ form.shell(size=2) }}</td>
        </tr>
    </table>
    <div class="form-buttons">
        {{ form.submit_profile() }}
    </div>
</form>
{% endblock %}
