{% if edit %}
<form hx-put="{{ url_for('self_password') }}" hx-target="this" hx-swap="outerHTML">
    <h3>Change Password</h3>
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <table>
        <tr>
            <td>{{ form.cur_password.label }}:</td>
            <td>{{ form.cur_password(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password.label }}:</td>
            <td>{{ form.new_password(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.confirm_password.label }}:</td>
            <td>{{ form.confirm_password(size=30) }}</td>
        </tr>
    </table>
    <button class="action-button">Submit</button>
    <button class="action-button" hx-get="{{ url_for('self_password') }}">Cancel</button>
</form>

{% else %}

<div hx-target="this" hx-swap="outerHTML">
    <table>
        <tr>
            <td>Password:</td>
            <td>changed {{ current_user.get_audit_events('password-change').get().timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
        </tr>
        <tr>
            <td>TOTP:</td>
            <td>off</td>
        </tr>
    </table>
    <button class="action-button" hx-get="{{ url_for('self_password') }}?edit=true">Edit</button>
<div>
{% endif %}
