{% if not edit %}
<div hx-target="this" hx-swap="outerHTML">
{% else %}
<form hx-put="{{ url_for('self_profile') }}" hx-target="this" hx-swap="outerHTML">
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}

{% endif %}
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ current_user.name }}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            {% if not edit %}
            <td>{{ current_user.first_name }}</td>
            {% else %}
            <td>{{ form.fname(size=20) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>Last Name:</td>
            {% if not edit %}
            <td>{{ current_user.last_name }}</td>
            {% else %}
            <td>{{ form.lname(size=20) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>Email:</td>
            {% if not edit %}
            <td>{{ current_user.email }}</td>
            {% else %}
            <td>{{ form.email(size=20) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>IDM ID:</td>
            <td>{{ current_user.id }}</td>
        </tr>
        <tr>
            <td>Linux UID:</td>
            <td>{{ current_user.uid }}</td>
        </tr>
        <tr>
            <td>Shell:</td>
            {% if not edit %}
            <td>{{ current_user.shell }}</td>
            {% else %}
            <td>{{ form.shell }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>Home:</td>
            <td>{{ current_user.home }}</td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>{{ current_user.primary_group.name }}</td>
        </tr>
        <tr>
            <td>LDAP DN:</td>
            <td>cn={{ current_user.name}},ou={{ current_user.primary_group.name }},<br>{{ config['BASEDN'] }}</td>
        </tr>
    </table>
    {% if not edit %}
    <button class="action-button" hx-get="{{ url_for('self_profile') }}?edit=true">
        Edit
    </button>
    {% else %}
    <button class="action-button" hx-get="{{ url_for('self_profile') }}">Cancel</button>
    <button class="action-button">Submit</button>
    {% endif %}
</form>
