{% extends "wrap.html" %}

{% block body %}
<form method="POST" action="">
    {{ form.csrf_token }}
    <h1>Edit User</h1>
    <!--<a href="{ url_for('audit_for_user', user_id=user.id) }}">Audit
        events</a>-->
    {% if user.disabled %}
        <em>This user is disabled.</em>
    {% endif %}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td>IDM ID:</td>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <td>UID:</td>
            <td>{{ user.uidnumber }}</td>
        </tr>
        <tr>
            <td>Primary GID:</td>
            <td>{{ user.gidnumber }}</td>
        </tr>
        <tr>
            <td>{{ form.fname.label }}:</td>
            <td>{{ form.fname(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.lname.label }}:</td>
            <td>{{ form.lname(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.email.label }}:</td>
            <td>{{ form.email(size=30) }}</td>
        </tr>
        <tr>
            <td>{{ form.shell.label }}:</td>
            <td>{{ form.shell(size=2) }}</td>
        </tr>
    </table>
    <div class="form-buttons">
        {{ form.submit_profile() }}
    </div>
</form>

<h2>Password and Disable</h2>
<form method="POST" action="">
    <p>You can set a new password for this user. They will be required to change their password next time they log in
        to Waffle IDM.</p>
    {{ pwform.csrf_token }}
    <table>
        <tr>
            <td>{{ pwform.password.label }}</td>
            <td>{{ pwform.password(size=30) }}</td>
        </tr>
    </table>
    <div class="form-buttons">
        {{ pwform.submit_password() }}
    </div>
</form>
<form method="POST" action="">
    {{ disform.csrf_token }}
    {% if user.disabled %}
        <p>This user is currently disabled. If you reenable them, they will be able to log in again.</p>
        <div class="form-buttons">
            {{ disform.submit_enable() }}
        </div>
    {% else %}
        <p>This user is currently enabled, you can disable them. They will not be able to log in until they are
            reenabled.</p>
        <div class="form-buttons">
            {{ disform.submit_disable() }}
        </div>
    {% endif %}
</form>

<h2>Groups</h2>
<div hx-get="{{ url_for('edit_memberships', user_id=user.id) }}" hx-trigger="load"></div>

{% endblock %}
