{# Note this is a partial loaded in by HTMX, not a full HTML document. #}
<form hx-post="{{ url_for('edit_memberships', user_id=user.id) }}">
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <div class="cols">
        <div>
            {{ form.current_set.label }}<br>
            {{ form.current_set(size=10) }}<br>
            {{ form.remove() }}
        </div>
        <div>
            {{ form.candidate_set.label }}<br>
            {{ form.candidate_set(size=10) }}<br>
            {{ form.add() }}<br>
            {{ form.filter_query.label }}: {{ form.filter_query() }} {{ form.filter() }}
        </div>
    </div>

    <div class="form-buttons">
    </div>
</form>