{% extends "wrap.html" %}

{% block body %}
<h1>Edit Group</h1>
<table>
    <tr>
        <td>Name:</td>
        <td>{{ group.name }}</td>
    </tr>
    <tr>
        <td>IDM ID:</td>
        <td>{{ group.id }}</td>
    </tr>
    <tr>
        <td>GID:</td>
        <td>{{ group.gidnumber }}</td>
    </tr>
</table>
{% endblock %}
