{% extends "wrap.html" %}

{% block body %}
<form method="POST" action="">
    <h1>New Group</h1>
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <table>
        <tr>
            <td>{{ form.name.label }}:</td>
            <td>{{ form.name(size=30) }}</td>
        </tr>
    </table>
    <div class="form-buttons">
        {{ form.submit_group() }}
    </div>
</form>
{% endblock %}
