.cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
}

.cols select {
    width: 100%;
}

.action-button {
    margin: 10px auto;
    width: max-content;
    font-size: 110%;
}

.overflow {
    overflow: scroll;
}

.bordered {
    border: 1px solid #aaa;
    border-radius: 4px;
}

.main-table {
    width: 100%;
    table-layout: auto;
    white-space: nowrap;
    overflow: scroll;
    border: none;
}

.main-table thead {
    background-color: #eeeeff
}

.main-table tr:nth-child(even) td{
    background-color: #eeeeff
}

// used mostly for the login page
.narrow {
    width: 400px;
    margin: 0 auto;

    table {
        margin: 0 auto;
    }
}

body {
    font-family: sans-serif;
}


h1 {
    font-size: 150%;
}

table {
    border-spacing: 5px 5px;
}

ul {
    margin: 0;
}

input {
    margin: 0;
    padding: 0;
}

select {
    margin: 0;
    padding: 0;
}

details {
    @extend .bordered;
    display: inline-block;
    padding: 0.5em 0.5em 0;
    overflow: scroll;
    max-width: 98%;
    max-height: 20em;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

#container {
    max-width: 800px;
    margin: 10px auto;
}

#header {
    #logo {
        flex-grow: 1;

        .wt {
            font-size: 180%;
            font-style: italic;
            font-weight: bold;
        }

        .user {
            padding-left: 20px;
        }

        .nav {
            padding-left: 10px;
        }
    }
}

#messages {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
}

#content {
    @extend .bordered;
    margin-top: 10px;
    padding: 10px;
}

#filterbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
