{% extends "wrap.html" %}

{% block body %}
<h2>Audit Events</h2>
<p>Showing audit events for {{ user.name }}</p>
<table class="main-table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Actor</th>
            <th>Type</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ event.actor.name }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.message }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}