{% extends "wrap.html" %}

{% block css %}
#client {
    background-color: #efefef;
    padding: 1em;
}
#client span {
    font-weight: bold;
}
#client ul {
    font-size: smaller;
}
#add-client label {
    display: block;
    margin: 0.5em;
}

.f-table {
}
.f-entry {
  margin: 1em;
  font-size: smaller;
  position: relative;
  column-width: 20ch;
  padding: 0.5em;
}
.f-entry-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  transform:translateY(30%) translateX(5%);
}
.f-entry label {
  display: block;
  padding: 0.25em;
  overflow-x: scroll;
}
.f-entry label > div {
  font-weight: bold;
}

{% endblock %}

{% block body %}
<h2>OIDC Clients</h2>

<h3>Current Clients</h3>

{% for client in clients %}
<div class="f-entry bordered">
    <label><div>Name</div>{{ client.client_name }}</label>
    <label><div>ID</div>{{ client.id }}</label>
    <label><div>Secret</div>{{ client.secret }}</label>
    <label><div>Issue Date</div>{{ client.issued_at }}</label>
    <label><div>URI</div>{{ client.client_uri }}</label>
    <label><div>Grants</div>{{ client.grant_types }}</label>
    <label><div>Redirect URIs</div>{{ client.redirect_uris }} </label>
    <label><div>Response Types</div>{{ client.response_types }}</label>
    <label><div>Scopes</div> {{ client.scopes }} </label>
    <label><div>User Consent Required</div> {{ client.consent_required }} </label>
    <label><div>Endpoint Auth Method</div>{{ client.auth_method }}</label>
    <div class="f-entry-controls"><button>edit</button> <button>delete</button></div>
</div>
{% endfor %}

<h3>Add Client</h3>
<form id="add-client" action="" method="POST">
    {{ form.csrf_token }}
    <label>
        <span>Client Name:</span>
        {{ form.client_name }}
    </label>

    <label>
        <span>Client URI:</span>
        {{ form.client_uri }}
    </label>

    <fieldset>
        <legend>Scopes:</legend>
        <label>
            {{ form.scope_openid }}
            <span>OpenID</span>
        </label>
        <label>
            {{ form.scope_profile }}
            <span>Profile</span>
        </label>
        <label>
            {{ form.scope_email }}
            <span>Email</span>
        </label>
        <label>
            {{ form.scope_address }}
            <span>Address</span>
        </label>
        <label>
            {{ form.scope_phone }}
            <span>Phone</span>
        </label>
    </fieldset>

    <label>
        <span>Redirect URIs (one per line)</span>
        {{ form.redirect_uris }}
    </label>

    <fieldset>
        <legend>Grants:</legend>
        <label>
            {{ form.grant_authorization_code }}
            <span>Authorization Code</span>
        </label>

        <label>
            {{ form.grant_implicit }}
            <span>Implicit</span>
        </label>

        <label>
            {{ form.grant_password }}
            <span>Password</span>
        </label>

        <label>
            {{ form.grant_client_credentials }}
            <span>Client Credentials</span>
        </label>

        <label>
            {{ form.grant_refresh_token }}
            <span>Refresh Token</span>
        </label>
    </fieldset>

    <fieldset>
        <legend>Response Types:</legend>
        <label>
            {{ form.response_id_token }}
            <span>ID Token</span>
        </label>
        <label>
            {{ form.response_code }}
            <span>Authorization Code</span>
        </label>
        <label>
            {{ form.response_token }}
            <span>Token</span>
        </label>
    </fieldset>

    <label>
        <span>User Consent Required</span>
        {{ form.consent_required }}
    </label>

    <label>
        <span>Token Endpoint Auth Method</span>
        {{ form.auth_method }}
    </label>

    <button>Create</button>
</form>

{% endblock %}
