{% extends "wrap.html" %}

{% block body %}
<div class="cols">
    <div>
        <h2>User Profile</h2>
        <div hx-get="{{ url_for('self_profile') }}" hx-trigger="load"></div>
    </div>
    <div>
        <h2>Authentication</h2>
        <div hx-get="{{ url_for('self_password') }}" hx-trigger="load"></div>

        <h2>Groups</h2>
        <ul>
            {% for group in current_user.groups %}
            <li>{{ group.name }}</li>
            {% endfor %}
        </ul>

        <h2>Applications</h2>

    </div>
</div>
<div>
    <h2>History</h2>
    <div>
    <details>
        <summary>Audit Events</summary>
        <div hx-get="{{ url_for('self_audit') }}" hx-target="this"
            hx-swap="outerHTML" hx-trigger="load"></div>
    </details>
    <div>
</div>
<div>
    <h2>Help</h2>
    <p>If you have any questions or issues, please email <a href="mailto:{{ config['SUPPORT_EMAIL'] }}">{{ config['SUPPORT_EMAIL'] }}</a> for assistance.</p>
</div>
{% endblock %}
