{% extends "wrap.html" %}

{% block body %}
<div id="filterbar">
    <div>
        <form action="" method="GET">
            <input type="text" name="q">
            <button type="submit">Look Up</button>
        </form>
    </div>
    <div>
        <a href="{{ url_for('group_new') }}">
            <button>New Group</button>
        </a>
    </div>
</div>
<h2>Groups</h2>
<table class="main-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>GID</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.gid }}</td>
                <td>{{ group.members | length }}</td>
                <td>
                    <a href="{{ url_for('group_edit', group_id=group.id) }}">
                        <button>Edit</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
