{% extends "wrap.html" %}

{% block body %}
<div class="narrow">
    <p><strong>{{ grant.client.client_name }}</strong> is requesting:
    <strong>{{ grant.request.scope }}</strong>
    </p>

    <p>from you - <strong>{{ current_user.name }}</strong></p>

    <form method="POST" action="">
        <button value="approve" type="submit" name="submit">Approve</button>
        <button value="deny" type="submit" name="submit">Deny</button>
    </form>
</div>
{% endblock %}
