{% extends "wrap.html" %}

{% block body %}
<div id="filterbar">
    <div>
        <form action="" method="GET">
            <input type="text" name="q">
            <button type="submit">Look Up</button>
        </form>
    </div>
    <div>
        <a href="{{ url_for('user_new') }}">
            <button>New User</button>
        </a>
    </div>
</div>
<h2>Users</h2>
<table class="main-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>UID</th>
            <th>Disabled</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.uid }}</td>
                <td>{{ user.ldap_disabled }}</td>
                <td>
                    <a href="{{ url_for('user_edit', user_id=user.id) }}">
                        <button>Edit</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
