<!DOCTYPE html>
<html lang="en">
<head>
    <title>Waffle IDM</title>
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <style type="text/css">
        {% block css %}
        {% endblock %}
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/_hyperscript.min.js') }}"></script>
</head>
<body>

    <div id="container">
        <div id="header">
                <div id="logo">
                    <span class="wt">Waffle IDM&trade;</span>
                    {% if current_user.is_authenticated %}
                        <span class="user">"{{ current_user.name }}"</span>
                        <span class="nav"><a href="{{ url_for('dashboard') }}">Dashboard</a></span>
                        {% if current_user.is_admin %}
                            <span class="nav"><a href="{{ url_for('user') }}">Users</a></span>
                            <span class="nav"><a href="{{ url_for('group') }}">Groups</a></span>
                            <span class="nav"><a href="{{ url_for('client') }}">Clients</a></span>
                        {% endif %}
                        <span class="nav"><a href="{{ url_for('logout') }}">Log Out</a></span>
                    {% else %}
                        <span class="nav"><a href="{{ url_for('login') }}">Log In</a></span>
                    {% endif %}
                </div>
        </div>

        <div id="messages"
             hx-get="{{ url_for('alert') }}"
             hx-trigger="htmx:load from:#content"></div>

        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>

